/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #337ab7; /* Dark blue background */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: 100%;
  }
  
  /* Logo Styles */
.logo img {
    width: auto; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
  }
  
  /* User Name Display Styles */
  .user {
    color: #fff; /* White text color */
    font-weight: bold;
    margin-right: 10px; /* Add some spacing between the user name and other elements */
  }
  
  /* Login Link Styles */
  .actions .loginLink {
    color: #fff; /* White text color */
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border: 2px solid #fff; /* White border */
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .actions .loginLink:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent white background on hover */
  }
  
  /* Signout Button Styles */
  .actions .signOutButton {
    background-color: #d9534f; /* Red color */
    color: #fff; /* White text color */
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .actions .signOutButton:hover {
    background-color: #c9302c; /* Darker red on hover */
  }
  