/* Home.module.css */

.snowCanadaTheme {
  background: linear-gradient(to bottom, #81a4cd, #f0f8ff); /* Blue gradient resembling a snowy sky */
  min-height: 100vh; /* Use min-height to ensure the background covers the entire viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.centeredSearchBox {
  text-align: center;
  margin-top: 20px; /* Add spacing between navbar and search box */
}

.searchInput {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  margin-bottom: 20px;
  width: 300px;
}

.searchButton {
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchButton:hover {
  background-color: #286090;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #337ab7; /* Dark blue background */
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  position: fixed; /* Fixed position */
  top: 0; /* Positioned at the top */
  left: 0; /* Positioned at the left edge */
  right: 0; /* Positioned at the right edge */
  z-index: 1000; /* Ensure it's above other content */
  width: 100%; /* Take the full width of the viewport */
}

